In [1]:
import pandas as pd 
import numpy as np

In [2]:
nhs = pd.read_csv('bsa2018_NHS&RN.csv')

In [3]:
nhs.head()

,gor_id,RSex,MarStat,PartyIDN,NHSSat,whrbrne,NatIdGB,ReligSum,bestnatu2,raceori4,year,GPSat,DentSat,ragecat3,ragee,GP_number
0,1,1,2,2,-2,1,1,1,2,3,2018,-2,-2,4,48,27.061806
1,2,2,1,2,2,1,3,5,2,3,2018,2,2,6,67,26.534170
2,6,2,3,1,-2,1,2,5,1,3,2018,-2,-2,4,53,17.699203
3,7,2,1,98,-2,4,7,5,9,2,2018,-2,-2,2,35,22.149072
4,2,2,1,2,1,1,3,3,2,3,2018,-2,-2,6,70,26.534170

In [4]:
nhs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7867 entries, 0 to 7866
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gor_id     7867 non-null   int64
 1   RSex       7867 non-null   int64
 2   MarStat    7867 non-null   int64
 3   PartyIDN   7867 non-null   int64
 4   NHSSat     7867 non-null   int64
 5   whrbrne    7867 non-null   int64
 6   NatIdGB    7867 non-null   int64
 7   ReligSum   7867 non-null   int64
 8   bestnatu2  7867 non-null   int64
 9   raceori4   7867 non-null   int64
 10  year       7867 non-null   int64
 11  GPSat      7867 non-null   int64
 12  DentSat    7867 non-null   int64
 13  ragecat3   7867 non-null   int64
 14  ragee      7867 non-null   int64
 15  GP_number  7867 non-null   float64
dtypes: float64(1), int64(15)
memory usage: 983.5 KB

In [7]:
#rename the column
nhs.rename(columns = {'gor_id':'Region',
                           'RSex':'Gender',
                           'MarStat':'Family',
                           'PartyIDN':'Political',
                           'NatIdGB':'Nationity_1',
                           'whrbrne':'born',
                           'bestnatu2':'Nationity',
                           'ReligSum':'Religon',
                           'raceori4':'Color',
                           'GPSat':'MarksforGP',
                           'DentSat':'MarksforDen',
                           'ragecat3':'AgeGroup',
                           'ragee':'Age',
                            'NHSSat':'confidence_level',
                     'GP_number':'GP_Sources'},inplace=True)

mining data
Omit code，remove all -2， 98 and 99 in the dataset

In [8]:
nhs=nhs[~nhs['confidence_level'].isin([-2])]
nhs=nhs[~nhs['confidence_level'].isin([99])]
nhs=nhs[~nhs['confidence_level'].isin([98])]

In [9]:
###example
nhs=nhs[~nhs['Region'].isin([98])]
nhs=nhs[~nhs['Region'].isin([99])]
nhs=nhs[~nhs['Gender'].isin([98])]
nhs=nhs[~nhs['Gender'].isin([99])]
nhs=nhs[~nhs['Family'].isin([98])]
nhs=nhs[~nhs['Family'].isin([99])]
nhs=nhs[~nhs['Political'].isin([98])]
nhs=nhs[~nhs['Political'].isin([99])]
nhs=nhs[~nhs['Nationity'].isin([98])]
nhs=nhs[~nhs['Nationity'].isin([99])]
nhs=nhs[~nhs['Religon'].isin([98])]
nhs=nhs[~nhs['Religon'].isin([99])]
nhs=nhs[~nhs['Color'].isin([98])]
nhs=nhs[~nhs['Color'].isin([99])]
nhs=nhs[~nhs['AgeGroup'].isin([98])]
nhs=nhs[~nhs['AgeGroup'].isin([99])]
nhs=nhs[~nhs['Age'].isin([98])]
nhs=nhs[~nhs['Age'].isin([99])]

In [10]:
nhs.head()

,Region,Gender,Family,Political,confidence_level,born,Nationity_1,Religon,Nationity,Color,year,MarksforGP,MarksforDen,AgeGroup,Age,GP_Sources
1,2,2,1,2,2,1,3,5,2,3,2018,2,2,6,67,26.534170
4,2,2,1,2,1,1,3,3,2,3,2018,-2,-2,6,70,26.534170
5,3,1,1,2,1,1,4,3,1,3,2018,-2,-2,5,59,23.363188
7,2,1,1,2,5,1,3,1,1,3,2018,1,5,4,48,26.534170
8,7,1,5,2,3,4,3,5,1,1,2018,-2,-2,3,41,22.149072

In [11]:
nhs.Color.value_counts()

3    5084
2     314
1     191
4      57
5      39
9       4
8       1
Name: Color, dtype: int64

change number to text

In [12]:
def rearrange_confidenceLevel(data):
    switcher={
        1:'For',
        2:'For',
        3:'Neither',
        4:'Against',
        5:'Against',
    }
    return switcher.get(data,"NaN")


nhs['confidence_level'] = nhs['confidence_level'].apply(rearrange_confidenceLevel)

In [13]:
def rearrange_region(data):
    switcher={
        1:'North_East',
        2:'North_West',
        3:'Yorkshire_and_The_Humber',
        4:'East_Midlands',
        5:'West_Midlands',
        6:'East_of_England',
        7:'London',
        8:'South_East',
        9:'South_West',
        10:'Wales',
        11:'Scotland',
    }
    return switcher.get(data,"NaN")


nhs['Region'] = nhs['Region'].apply(rearrange_region)

In [14]:
def rearrange_gender(data):
    switcher={
        1:'Male',
        2:'Female',
    }
    return switcher.get(data,"NaN")


nhs['Gender'] = nhs['Gender'].apply(rearrange_gender)

In [15]:
def rearrange_marriage(data):
    switcher={
        1:'Married',
        2:'Living_as_married',
        3:'Separated_after_marrying',
        4:'Widowed',
        5:'Not_married',

    }
    return switcher.get(data,"NaN")


nhs['Family'] = nhs['Family'].apply(rearrange_marriage)

In [16]:
def rearrange_party(data):
    switcher={
        1:'Conservative',
        2:'Labour',
        3:'Liberal_Democrat',
        4:'Regional_Parties',
        5:'Regional_Parties',
        6:'Regional_Parties',
        7:'Other_Small_Parties',
        8:'Other_Small_Parties',
        9:'Other_Small_Parties',
        10:'Other_Small_Parties',
        11:'Other_Small_Parties',
        12:'None'
    }
    return switcher.get(data,"NaN")


nhs['Political'] = nhs['Political'].apply(rearrange_party)

In [17]:
# def rearrange_party_1(data):
#     switcher={
#         1:'Conservative',
#         2:'Labour',
#         3:'Liberal_Democrat',
#         4:'Scottish National Party',
#         5:'Plaid Cymru',
#         6:'Green Party',
#         7:'UKIP',
#         8:'BNP',
#         9:'TUSC',
#         10:'Other',
#         11:'Other',
#         12:'None'
#     }
#     return switcher.get(data,"NaN")


# nhs['Political'] = nhs['Political'].apply(rearrange_party_1)

In [18]:
def rearrange_nation(data):
    switcher={
        1:'not British',
        2:'More (English/Scottish/Welsh) than British',
        3:'Equally (English/Scottish/Welsh) and British',
        4:'More British than (English/Scottish/Welsh)',
        5:'British not (English/Scottish/Welsh)',
        6:'East of England',
        7:'Other description ',
        8:'None of these',

    }
    return switcher.get(data,"NaN")


nhs['Nationity_1'] = nhs['Nationity_1'].apply(rearrange_nation)

In [19]:
def rearrange_religion(data):
    switcher={
        1:'Church_of_England',
        2:'Roman_Catholic',
        3:'Other_Christian',
        4:'Non_Christian',
        5:'No_religion',
        6:'None',

    }
    return switcher.get(data,"NaN")


nhs['Religon'] = nhs['Religon'].apply(rearrange_religion)

In [20]:
def rearrange_Nationity_2(data):
    switcher={
        1:'British',
        2:'English',
        3:'European',
        4:'Irish',
        5:'Northern Irish',
        6:'Scottish',
        7:'Ulster',
        8:'Welsh',
        9:'Other',
        10:'None',
    }
    return switcher.get(data,"NaN")


nhs['Nationity'] = nhs['Nationity'].apply(rearrange_Nationity_2)

In [21]:
def rearrange_color(data):
    switcher={
        1:'BLACK: of African origin',
        2:'BLACK: of Caribbean origin',
        3:'BLACK: of other origin',
        4:'ASIAN: of Indian origin',
        5:'ASIAN: of Pakistani origin',
        6:'ASIAN: of Bangladeshi origin',
        7:'ASIAN: of Chinese origin',
        8:'ASIAN: of other origin',
        9:'WHITE: of any origin',
        10:'MIXED ORIGIN',
        11:'OTHER',
    }
    return switcher.get(data,"NaN")


nhs['Color'] = nhs['Color'].apply(rearrange_color)

In [22]:
def rearrange_age(data):
    switcher={
        1:'18-25',
        2:'26-45',
        3:'26-45',
        4:'46-65',
        5:'46-65',
        6:'Above65',

    }
    return switcher.get(data,"NaN")


nhs['AgeGroup'] = nhs['AgeGroup'].apply(rearrange_age)

In [23]:
nhs.dropna()# remove the nan

,Region,Gender,Family,Political,confidence_level,born,Nationity_1,Religon,Nationity,Color,year,MarksforGP,MarksforDen,AgeGroup,Age,GP_Sources
1,North_West,Female,Married,Labour,For,1,Equally (English/Scottish/Welsh) and British,No_religion,English,BLACK: of other origin,2018,2,2,Above65,67,26.534170
4,North_West,Female,Married,Labour,For,1,Equally (English/Scottish/Welsh) and British,Other_Christian,English,BLACK: of other origin,2018,-2,-2,Above65,70,26.534170
5,Yorkshire_and_The_Humber,Male,Married,Labour,For,1,More British than (English/Scottish/Welsh),Other_Christian,British,BLACK: of other origin,2018,-2,-2,46-65,59,23.363188
7,North_West,Male,Married,Labour,Against,1,Equally (English/Scottish/Welsh) and British,Church_of_England,British,BLACK: of other origin,2018,1,5,46-65,48,26.534170
8,London,Male,Not_married,Labour,Neither,4,Equally (English/Scottish/Welsh) and British,No_religion,British,BLACK: of African origin,2018,-2,-2,26-45,41,22.149072
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7861,Scotland,Female,Separated_after_marrying,None,Against,2,not British,No_religion,Scottish,BLACK: of other origin,2017,-2,-2,46-65,53,25.713777
7863,West_Midlands,Male,Married,Conservative,For,1,More (English/Scottish/Welsh) than British,Church_of_England,English,BLACK: of other origin,2017,-2,-2,Above65,74,22.181597
7864,East_of_England,Female,Married,None,For,1,Equally (English/Scottish/Welsh) and British,No_religion,British,BLACK: of other origin,2017,4,2,26-45,30,17.420635
7865,East_Midlands,Female,Married,Conservative,Against,1,Equally (English/Scottish/Welsh) and British,Church_of_England,British,BLACK: of other origin,2017,-2,-2,Above65,67,19.742638
7866,South_West,Female,Separated_after_marrying,Conservative,For,1,More (English/Scottish/Welsh) than British,No_religion,English,BLACK: of other origin,2017,-2,-2,46-65,54,17.358447

cleaning the data

In [24]:
nhs.shape

(5690, 16)

In [25]:
nhs.drop(['born','Nationity_1','MarksforGP','MarksforDen'], axis=1, inplace=True)

In [26]:
nhs.head()

,Region,Gender,Family,Political,confidence_level,Religon,Nationity,Color,year,AgeGroup,Age,GP_Sources
1,North_West,Female,Married,Labour,For,No_religion,English,BLACK: of other origin,2018,Above65,67,26.534170
4,North_West,Female,Married,Labour,For,Other_Christian,English,BLACK: of other origin,2018,Above65,70,26.534170
5,Yorkshire_and_The_Humber,Male,Married,Labour,For,Other_Christian,British,BLACK: of other origin,2018,46-65,59,23.363188
7,North_West,Male,Married,Labour,Against,Church_of_England,British,BLACK: of other origin,2018,46-65,48,26.534170
8,London,Male,Not_married,Labour,Neither,No_religion,British,BLACK: of African origin,2018,26-45,41,22.149072

In [27]:
nhs = nhs.query("confidence_level != 'NaN'")
nhs = nhs.query("Region != 'NaN'")
nhs = nhs.query("Gender != 'NaN'")
nhs = nhs.query("Family != 'NaN'")
nhs = nhs.query("Political != 'NaN'")
nhs = nhs.query("Religon != 'NaN'")
nhs = nhs.query("Nationity != 'NaN'")
nhs = nhs.query("Color != 'NaN'")
nhs = nhs.query("AgeGroup != 'NaN'")

In [28]:
nhs.shape

(5568, 12)

In [29]:
nhs.to_csv("1718nhs_r_unencode.csv",index=True,sep=',')# save answer

In [30]:
def rearrange_gender2(data):
    switcher={
        'Male':0,
        'Female':1,
    }
    return switcher.get(data,"NaN")


nhs['Gender'] = nhs['Gender'].apply(rearrange_gender2)

In [ ]:
# def rearrange_confidenceLevel_1(data):
#     switcher={
#         'For':3,
#         'Neither':2,
#         'Against':1,
#     }
#     return switcher.get(data,"NaN")



# nhs['confidence_level'] = nhs['confidence_level'].apply(rearrange_confidenceLevel_1)

In [ ]:
# nhs = nhs.query("confidence_level != 'NaN'")
# nhs = nhs.query("Region != 'NaN'")
# nhs = nhs.query("Gender != 'NaN'")
# nhs = nhs.query("Marriage != 'NaN'")
# nhs = nhs.query("SupportParty != 'NaN'")
# nhs = nhs.query("Religon != 'NaN'")
# nhs = nhs.query("Nationity != 'NaN'")
# nhs = nhs.query("Color != 'NaN'")

In [31]:
nhs.to_csv("1718nhs_r.csv",index=True,sep=',')# save answer

In [ ]:
nhs.to_csv("1718nhs_plot.csv",index=True,sep=',')# save answer